<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Trouvez le <strong>prestataire</strong> dont vous avez <strong>besoin</strong> !</h1>
    <p>Grâce à , la plaisance redevient plaisante.</p>
    <%= form_tag offers_path, class: 'col-auto align-items-center', method: :get do %>
      <%= select_tag 'query', options_for_select(Service.all.collect{|u| [u.title, u.id]}), class: "form-control" %>
      <%= date_select(:date, :booking) %>
      <%= submit_tag 'Trouver mon prestataire', class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @services.each do |service| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to service.title, service_path(service) %>
      </div>
    <% end %>
  </div>
</div>
