<h1><%= @service.title %></h1>
<p><%= @service.description %></p>

<ul>
  <% @offers.each do |offer| %>
    <li><%= link_to offer.title, offer_path(offer) %><br>
        <%= offer.description %>
        <%= offer.price %>
    </li>
  <% end %>
</ul>

<%= link_to new_offer_path do %>
  <i class="fas fa-plus-circle"> Add a new offer</i>
<% end %>

