<h1><%= @service.title %></h1>
<p><%= @service.description %></p>

<<<<<<< HEAD
<% @service.offers.each do |offer| %>
  <%= offer.title %>
<% end %>

=======
<ul>
  <% @offers.each do |offer| %>
    <li> <%= offer.title %> <br>
        <%= offer.description %>
        <%= offer.price %>
    </li>
  <% end %>
</ul>
>>>>>>> 4b21342f49752e0d057373046f5bb29d2457c1d0
