<h1><%= @service.title %></h1>
<p><%= @service.description %></p>

<ul>
  <%= @offer.where(service: 1).each do |offer| %>
    <li> <%= offer.title %> <br>
        <%= offer.description %>
        <%= offer.price %>
    </li>
  <% end %>
</ul>

<%= link_to new_service_offer_path(@service) do %>
  <i class="fas fa-plus-circle"> Add a new offer</i>
<% end %>

