<div class="navbar navbar-expand-sm navbar-light navbar-lewagon w-100 fixed-top">
  <div class="collapse navbar-collapse">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "hook.png" %>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Proposer un service", "/offers/new", class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <% if user_signed_in? %>
      <ul class="list-unstyled mb-0">
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://picsum.photos/200/200" />
          <% end %>

          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="navbarDropdown">
            <%= link_to "Mes réservations", transactions_path, :class => 'dropdown-item' %>
            <%= link_to 'Mon profil', edit_user_registration_path, :class => 'dropdown-item' %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="list-unstyled mb-0">
        <div class="d-flex">
          <li class="nav-item active">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link btn rounded" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Créer un compte", new_user_registration_path, class: "nav-link btn btn-success" %>
          </li>
        </div>
      </ul>
    <% end %>
  </div>
</div>
