<div class="navbar navbar-expand-sm navbar-light navbar-lewagon w-100 fixed-top">
  <div class="collapse navbar-collapse">
  <%= link_to "/", class: "navbar-brand" do %>
    <h2 class="mb-0 text-primary"><i class="fas fa-water"></i></i> HOOK</h2>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Devenir prestataire", "/offers/new", class: "nav-link" %>
      </li>

    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <% if user_signed_in? %>
      <ul class="list-unstyled mb-0">
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="navbarDropdown">
            <%= link_to "Mes réservations", transactions_path, :class => 'dropdown-item' %>
            <%= link_to "Mes offres", offers_path(commit: "My offers"), :class => 'dropdown-item' %>
            <%= link_to 'Mon profil', edit_user_registration_path, :class => 'dropdown-item' %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="list-unstyled mb-0">
        <div class="d-flex">
          <li class="nav-item active">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link btn rounded" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Créer un compte", new_user_registration_path, class: "nav-link btn btn-primary" %>
          </li>
        </div>
      </ul>
    <% end %>
  </div>
</div>
