<%= link_to "Back", services_path %>


<h1>Offres:</h1>
<div class="container">
  <%= form_tag offers_path, class: 'form-inline home-search', method: :get do %>
    <%= select_tag 'query', options_from_collection_for_select(@services, 'id', 'title', params[:query]), class: "form-control mr-2" %>
    <%= text_field_tag 'date', params[:date], class: "datepicker form-control mr-2" %>
    <%= submit_tag 'Trouver mon prestataire', class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container cards">
  <% @offers.each do |offer| %>
    <div class="card-trip border w-100 mx-0 my-4">
      <div class="border-bottom mb-2 p-2 d-flex justify-content-center"><%= link_to offer.title, offer_path(offer) %></div>
        <div class="card-trip-infos d-flex flex-column align-items-center pl-3">
          Service: <%= Service.find(offer.service_id).title %> <br>
          Proposé par: <%= User.find(offer.user_id).email %> <br>
          Prix au m2: <%= offer.price %> <br>
        </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <div class="btn border"><%= link_to "Add an offer", new_offer_path %></div>
</div>
