<div class="pl-2 pt-3"><%= link_to "< Back", offers_path, class: "back"  %></div>


<div class="container mt-4 col-6">
	<h1>Proposer mes services</h1>
	<%= simple_form_for [@service, @offer] do |f| %>
	  <%= f.input :title, label: 'Titre' %>
	  <%= f.association :service, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
	  <%= f.input :description %>
	  <%= f.input :price, label: 'Prix au m2 (en €)' %>
	  <%= f.button :submit, 'Ajouter mon offre', class: 'btn btn-primary' %>
	<% end %>
</div>
