<div class="pl-2 pt-3"><%= link_to "< Back", offers_path, class: "back"  %></div>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-8 px-0">
        <div class="d-flex justify-content-between border-bottom align-items-center my-4">
          <h1><%= @offer.title %></h1>
          <h1><%= @offer.price %> €</h1>
        </div>
        <div class="d-flex justify-content-between">
          <div class="align-self-center pr-5">
            <h2><%= @offer.user.first_name %> <%= @offer.user.last_name %></h2>
            <p><%= @offer.description %></p>
          </div>
          <%= cl_image_tag @offer.user.avatar, class: "avatar-xtra-large", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if @offer.user_id != current_user.id %>
      <div class="container mt-4">
        <%= simple_form_for [@offer, @transaction] do |f| %>
          <%= f.input :date, label: 'Date' %>
          <%= f.input :boat_size, label: 'Quel est la taille de votre bateau ? (en m²)' %>
          <%= f.button :submit, 'Demander une prestation', class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% elsif @offer.user_id == current_user.id %>
      <div class="container mt-4">
        <%= link_to edit_offer_path(@offer) do %><button type="button" class="btn btn-warning">Modifier l'offre</button><% end %>
        <%= link_to offer_path(@offer) do %><button type="button" class="btn btn-danger">Supprimer l'offre</button><% end %>
      </div>
    <% end %>
  <% else %>
    <h4 class="mt-4">Connectez-vous pour réserver un créneau !</h4>
  <% end %>
</div>
