<h1> Merci d'avoir choisit notre service de <%= @transaction.offer.service.title %> </h1>

<h3> Votre prestataire est <%= @transaction.user.first_name %> <%= @transaction.user.last_name %></h3>
<h3> Il viendra le <%= @transaction.date %> </h3>
<h3> Pour <%= @transaction.transaction_price %>€ </h3>




